# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonl used libraries by Dara Scientists
- Enumerate Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. pandas
3. numpy

|Data Science Tools|
|---|
|RStudio|
|Hadoop|
|Spark|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [20]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [22]:
# This will converts 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

## Author
Cilibiu Nicoleta Madalina